@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/Bootstrap/glyphicons-halflings-regular.eot');
    src: url('../fonts/Bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Bootstrap/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/Bootstrap/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/Bootstrap/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../fonts/AvenirLTStd-BookOblique.eot');
    src: url('../fonts/AvenirLTStd-BookOblique.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirLTStd-BookOblique.woff') format('woff'),
    url('../fonts/AvenirLTStd-BookOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../fonts/AvenirLTStd-Black.eot');
    src: url('../fonts/AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirLTStd-Black.woff') format('woff'),
    url('../fonts/AvenirLTStd-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../fonts/AvenirLTStd-Oblique.eot');
    src: url('../fonts/AvenirLTStd-Oblique.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirLTStd-Oblique.woff') format('woff'),
    url('../fonts/AvenirLTStd-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../fonts/AvenirLTStd-LightOblique.eot');
    src: url('../fonts/AvenirLTStd-LightOblique.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirLTStd-LightOblique.woff') format('woff'),
    url('../fonts/AvenirLTStd-LightOblique.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../fonts/AvenirLTStd-Book.eot');
    src: url('../fonts/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirLTStd-Book.woff') format('woff'),
    url('../fonts/AvenirLTStd-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../fonts/AvenirLTStd-Heavy.eot');
    src: url('../fonts/AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirLTStd-Heavy.woff') format('woff'),
    url('../fonts/AvenirLTStd-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../fonts/AvenirLTStd-Roman.eot');
    src: url('../fonts/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirLTStd-Roman.woff') format('woff'),
    url('../fonts/AvenirLTStd-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../fonts/AvenirLTStd-Medium.eot');
    src: url('../fonts/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirLTStd-Medium.woff') format('woff'),
    url('../fonts/AvenirLTStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../fonts/AvenirLTStd-Light.eot');
    src: url('../fonts/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirLTStd-Light.woff') format('woff'),
    url('../fonts/AvenirLTStd-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
/* ==========================================================================
		GENERAL STYLES
========================================================================== */
/* fonts demo styles which are here temporarily*/
.demo-0 {
    font-family: 'Avenir LT Std';
    font-weight: normal;
    font-style: italic;
}
.demo-1 {
    font-family: 'Avenir LT Std';
    font-weight: 900;
    font-style: normal;
}
.demo-2 {
    font-family: 'Avenir LT Std';
    font-weight: normal;
    font-style: italic;
}
.demo-3 {
    font-family: 'Avenir LT Std';
    font-weight: 300;
    font-style: italic;
}
.demo-4 {
    font-family: 'Avenir LT Std';
    font-weight: normal;
    font-style: normal;
}
.demo-5 {
    font-family: 'Avenir LT Std';
    font-weight: 900;
    font-style: normal;
}
.demo-6 {
    font-family: 'Avenir LT Std';
    font-weight: normal;
    font-style: normal;
}
.demo-7 {
    font-family: 'Avenir LT Std';
    font-weight: 500;
    font-style: normal;
}
.demo-8 {
    font-family: 'Avenir LT Std';
    font-weight: 300;
    font-style: normal;
}

.h2 {
	margin: 30px 0;
	font-family: 'Avenir LT Std';
  font-weight: 300;
  font-style: normal;
	font-size: 32px;
  text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/* end of general styles */
body {
  font-family: 'Avenir LT Std';
  font-weight: normal;
  font-style: normal;
	color:#919ea3;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.my-header {
	height: 60px;
	margin: 0px;
}

.text-description {
	margin-top: 8px;
}

.logoDiv {
	width: 150px;
	height: 60px;
	padding: 5px 15px;
}

#selGender {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url('../img/svg/arrow_up.svg') no-repeat;
	background-position:  right 10px center;
	background-size: 15px 8px;
	text-indent: 0.01px;
}

#InputState {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url('../img/svg/arrow_up.svg') no-repeat;
	background-position:  right 10px center;
	background-size: 15px 8px;
	text-indent: 0.01px;
}

.fixed {
	position: fixed;
    top:0;
}

.fixed-left {
    left:10px;
}

.logoDiv img {
	width:150px;
	height:50px;
}

#img_logo {
	background-image: url("../img/svg/sprite.svg");
	background-repeat: no-repeat;
	background-position:  right 10px center;
	width: 480px;
	height: 200px
}

.list-property {
	/*line-height:50px;*/
}
.glyphicon-home {
	font-size:12px;
}

#icons a:hover, a:active, a:focus {
    outline: none;
    border:none;
}

.glyphicon {
    top:0px;
}

.navbar-nav > li > a, .navbar-brand {
	padding-top:12px !important;
	padding-bottom:0 !important;
	height: 42px;
}
.navbar {min-height:42px !important;}

#message-circle {
	position: relative;
	width: 50px;
	padding: 9px 10px;
}

input[type="text"] {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.drop-down-view {
	background :url('../img/svg/arrow_down.svg') no-repeat;
	background-position: right 10px center;
	background-size: 15px 8px;
	text-indent: 0.01px;
}

#message {
	width: 20px;
	height: 16px;
	overflow: hidden;
	float: left;
	position: absolute;
}

#img_message {
	background-image: url("../img/svg/sprite.svg");
	background-repeat: no-repeat;
	background-position: -162px -50px;
	width: 480px;
	height: 200px;
}

.circleDiv {
	width: 10px;
	height: 19px;
	overflow: hidden;
	margin-left: 15px;
	position: absolute;
}

.imgRedCircle {
	background-image: url("../img/svg/sprite.svg");
	background-repeat: no-repeat;
	background-position: -231px -57px;
	width: 480px;
	height: 200px;
}

#sky-circle {
	position: relative;
	width: 50px;
	padding: 9px 10px;
}

.skyDiv {
	width: 25px;
	height: 20px;
	overflow: hidden;
	position: absolute;
}

.imgSky {
	background-image: url("../img/svg/sprite.svg");
	background-repeat: no-repeat;
	background-position: -354px -52px;
	width: 480px;
	height: 200px;

}

.bold-text:last-child {
    margin-top: 20px;
}

.my-default-navbar {
	display:block;
}

.navbar-inverse .navbar-nav > li > a:hover {
	background: #566f77;
}

#my-mobile-navbar {
    overflow:hidden;
}

#my-mobile-navbar > div {
	display:none;
}

#my-mobile-navbar > div > ul {
	list-style: none;
    width:768px;
}

#my-mobile-navbar > div > ul > li {
	display: inline-block;
 }

#my-mobile-navbar > div > ul > li > a {
	color:#fff;
	display: block;
	padding: 11px 15px;
}

#mobileLogo{
	display:none;
}

#my-mobile-navbar > div > ul > li > a:hover {
	text-decoration: none;
	background: #566f77;
}

.person-margin {
	margin-left: -40px;
}

#circle_person {
	position: relative;
	width: 50px;
}

.font-header {
	font-size: 16px;
}

.personDiv {
	width: 30px;
	height: 30px;
	overflow: hidden;
	margin: 1px auto;
}

.personBorder {
	background-image: url("../img/svg/sprite.svg");
	background-repeat: no-repeat;
	background-position: -270px -43px;
	width: 480px;
	height: 200px;
}

#text_weather {
	text-align: center;
	float: left;
	margin-top: -3px;
	margin-right: 10px;
}

.bs-glyphicons {
	overflow: hidden;
	height: 60px;
}

.bs-glyphicons-list {
	padding-left: 0;
	list-style: none;
	height: 60px;
	margin: 0px;
	padding: 13px 0px;
}

.bs-glyphicons-list > li {
	vertical-align: top;
}

.bs-glyphicons-list li:first-child {
	border: 1px solid #31acff;
	padding: 6px 20px;
	border-radius: 20px;
	color: #31acff;
	cursor: pointer;
}

.box-error {
	border:1px solid #e56761 !important;
	color: #e56761 !important;
}

.bs-glyphicons-list li:first-child:hover {
	color:#fff;
	background: #31acff;
}


.bs-glyphicons-list > li {
	display: inline-block;
}

#weather {
	width: 40px;
	height: 40px;
	overflow: hidden;
	float: left;
}

#weather_icon {
	background-image: url("../img/svg/sprite.svg");
	background-repeat: no-repeat;
	background-position: -310px -43px;
	width: 480px;
	height: 200px;
}

.navbar-inverse {
	background: #405b63;
	border-radius: 0px;
	margin: 0px;
}

.navbar-inverse .navbar-nav > li > a {
	color: #fff;
	text-shadow: 0 0 0;

}

.navbar-inverse .navbar-brand {
	color: #fff;
}

.navbar > .container-fluid .navbar-brand {
	margin-left: 5px;
}

#icons {
	padding-top: 40px;
}

#person-style {
	width: 40px;
	height: 40px;
	overflow: hidden;
	float: left;
	position: absolute;
	margin-top: -5px;
	float: left;
}

#person-icon {
	background-image: url("../img/svg/sprite.svg");
	background-repeat: no-repeat;
	background-position: -112px -43px;
	width: 480px;
	height: 200px;

}

#icons > div > a {
	margin-left: 50px;
	font-size:16px;
	color:#919ea3;
	text-decoration: none;

}

#icons > div > a:hover {
	text-decoration: none;
	color: #526a72;
}

#payment-style {
	width: 40px;
	height: 40px;
	overflow: hidden;
	float: left;
	position: absolute;
	margin-top: -5px;
	float: left;
}

#payment-icon {
	background-image: url("../img/svg/sprite.svg");
	background-repeat: no-repeat;
	background-position: -390px -43px;
	width: 480px;
	height: 200px;
}

.header-caption {
	font-size:18px;
	margin-top: -3px;
}

.header-caption > p {
	line-height: 18px;
}

#transaction-style {
	width: 40px;
	height: 40px;
	overflow: hidden;
	float: left;
	position: absolute;
	margin-top: -5px;
	float: left;
}

#transaction-icon {
	background-image: url("../img/svg/sprite.svg");
	background-repeat: no-repeat;
	background-position: -153px -81px;
	width: 480px;
	height: 200px;
}

#notifications-style {
	width: 40px;
	height: 40px;
	overflow: hidden;
	float: left;
	position: absolute;
	margin-top: -6px;
	margin-left: -3px;
	float: left;
}

#notifications-icon {
	background-image: url("../img/svg/sprite.svg");
	background-repeat: no-repeat;
	background-position: -191px -44px;
	width: 480px;
	height: 200px;
}

#settings-style {
	width: 40px;
	height: 40px;
	overflow: hidden;
	float: left;
	position: absolute;
	margin-top: -5px;
	float: left;
}

#settings-icon {
	background-image: url("../img/svg/sprite.svg");
	background-repeat: no-repeat;
	background-position: -195px -81px;
	width: 480px;
	height: 200px;
}

.title-container {
	text-align: center;
	margin-top:40px;
}

.title-container p {
	font-size:32px;
	color:#526a72;
}

#sign-style {
	width: 40px;
	height: 40px;
	overflow: hidden;
	float: left;
	position: absolute;
	margin-top: -39px;
	float: right;
	margin-left: 720px;
}

#sign-icon {
	background-image: url("../img/svg/sprite.svg");
	background-repeat: no-repeat;
	background-position: -230px -81px;
	width: 480px;
	height: 200px;
}

.bold-text {
	font-weight: bold;
	padding-bottom: 10px;
	color:#526a72;
	font-size: 18px;

}

#selDay,#selYear {
	width:100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url('../img/svg/arrow_up.svg') no-repeat;
	background-position: right 10px center;
	background-size: 15px 8px;
	text-indent: 0.01px;
}

#profile-picture {
	width: 193px;
	margin-top: 30px;
}

#edit-profile {
	border: 2px dashed #dae3e5;
	text-align: center;
	margin-top: 74px;
	padding: 30px;
}

.or_text {
	display:block;
	margin:20px 0px;
}

.or_text > span {
	border: 1px solid #ccd8db;
	border-radius: 50%;
	padding: 10px;
	display: inline-block;
}

.button {
	height:40px;
	color:#fff;
	text-align: center;
	cursor:pointer;
	border-radius: 2px;
	margin-top:10px;
}

.button > p {
	display: block;
	font-size: 16px;
	padding-top: 9px;
}

.browse {
	background: #ed5681;
}

.webcam {
	background: #434d56;
}

.browse:hover {
	background: #ef6794;
}

.webcam:hover {
	background: #5c656b;
}

.button-body {
	display: block;
	margin: 0 auto;
	text-align: center;
	margin-top: 10px;
	padding-top: 10px;
	font-size: 16px
}

.button-body > div[id=sky] {
	right:0px;
}

.form-row {
	margin-top:40px;
}

#selMonth {
	width:100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url('../img/svg/arrow_up.svg') no-repeat;
	background-position: right 10px center;
	background-size: 15px 8px;
	text-indent: 0.01px;
}

#InputFirstName {
	width:100%;
}

#InputLastName {
	width:100%;
}

.form-control {
	border:1px solid #ccd8db;
	border-radius: 2px;
	color:#919ea3;
	font-size:14px;
	box-shadow: 0px 0px 0px !important;
	-webkit-box-shadow: inset 0 0 0px !important;
	-moz-box-shadow: inset 0 0 0px !important;
	box-shadow: inset 0 0 0px !important;
}

.form-group input,.form-group .div-select{
	height:40px;
}


.title-input {
	color:#526a72;
}

.div-select {
	padding-top: 9px;
    cursor:pointer;
}

.div-select-click {
	border-radius: 2px 2px 0px 0px;
}

.form-group {
	margin-bottom: 0px;
}

input[type=text]::-webkit-input-placeholder {color:#bac3c6;}
input[type=text]::-moz-placeholder{color:#bac3c6;}
input[type=text]:-moz-placeholder {color:#bac3c6;}
input[type=text]:-ms-input-placeholder {color:#bac3c6;}

.form-group > textarea::-webkit-input-placeholder{color:#bac3c6;}
.form-group > textarea::-moz-placeholder{color:#bac3c6;}
.form-group > textarea:-moz-placeholder{color:#bac3c6;}
.form-group > textarea:-ms-input-placeholder {color:#bac3c6;}

.form-control:focus {
	outline: none;
	border:1px solid #b9c4c6;
	box-shadow: none;
}

.form > .row {
	padding-top:40px;
}

.form > .row:first-child {
	padding-top: 0px;
}

.birthay {
	float:left;
}

.select {
	display:block;
    z-index: 30;
	position: relative;
}

.select > ul {
	list-style: none;
	padding: 0px;
	z-index:30;
	width:100%;
	border:1px solid #ccd8db;
	border-top:0px;
	position: absolute;
	border-radius: 0px 0px 2px 2px;
}

.select >ul > li {
	padding:10px;
	cursor:pointer;
	background: #fff;
}

.select > ul > li:hover {
	background:#eff4f4;
}

.birthay:first-child {
	float:left;
	margin-left: 0px;
}

#InputSign,#InputWork {
	width:100%;
}

#icons > div {
	padding:10px 0px;
}

#icons > div a:focus {
	text-decoration: none;
	color:#526a72;
}

.formText {
	padding:0px 15px;
}

.formText {
	padding-top:0px;
	font-weight: 700
}



#Inputsign {
	width:75%;
}

#text-telling {
	padding-top:20px;
	font-size:12px;
}

#InputUnit,#InputStreetNo,#InputStreetName,#InputSuburb,#InputPostCode,#InputState {
	width:100%;
}

.my-footer {
	height:100px;
	margin-top:230px;
	border-top:1px solid #dae3e5;

}

#saveChangeButton {
	background: #31acff;
	width: 220px;
	text-align: center;
	float: right;
	height: 40px;
	color: #fff;
	padding-top: 9px;
	margin-top:30px;
	cursor:pointer;
	font-size:16px;
	border-radius: 2px;
}

#saveChangeButton:hover {
	background: #4bbbf9;
}

/*[class^="icon-"]{*/
/*display: block;*/
/*background: url("../img/icons.svg");*/
/*text-indent: 100%;*/
/*}*/

/*.icon-message {*/
/*background-position: ;*/
/*}*/




/* ==========================================================================
		Transaction History page
========================================================================== */
.th-hide-md {
	display: none;
}
.blue-tabs {
	width: 150px;
	margin-right: -4px;
	line-height: 40px;
	border: 1px solid #31acff;
	background-color: #fff;
	color: #31acff;
}
.blue-tabs.active {
	background-color: #31acff;
	color: #fff;
}
.blue-tabs a {
	font-size: 16px;
	color: inherit;
	text-decoration: none;
} 
.property-date {
	margin: 0 auto;
	max-width: 255px;
}
.transaction-history-row {
	margin: 20px;
}
.th-img {
	float: left;
	margin-right: 15px;
}
.th-title,
.th-date,
.th-person-name,
.th-fee,
.th-title,
.th-netincome {
	display: inline-block;
	width: 108px;
} 
.th-property-titles,
.th-title {
	font-weight: 700;
	color: #717171;
}
.th-property-titles {
	margin: 0 20px;
	margin-top: 40px;
	margin-bottom: 15px;
}

.th-netincome {
	width: auto;
}
.btn-rounded {
	display: block;
	width: 120px;
	margin: 0 auto;
}

@media only screen and (min-width: 768px) {
	.th-container{
		width: 100%;
	} 
	.transaction-history-row {
		padding-top: 20px;
		border-top: 1px solid #d7d9dd;
	}
	.th-property-titles {
		/*margin: 20px 0;*/
	}
	.transaction-history-row > div {
		vertical-align: middle;
	}
	.th-title {
		display: block;
	}
	.th-property,
	.th-dates,
	.th-guests,
	.th-fees,
	.th-netincomes,
	.th-property-title,
	.th-dates-title,
	.th-guests-title,
	.th-fees-title,
	.th-netincomes-title {
		display: inline-block;
	}
	.th-property,
	.th-property-title {
		width: 280px;
	}
	.th-dates,
	.th-dates-title {
		width: 80px;
	}
	.th-guests,
	.th-guests-title {
		width: 50px;
	}
	.th-fees,
	.th-fees-title {
		width: 50px;
	}
	.th-netincomes,
	.th-netincomes-title {
		width: 130px;
	}
	.btn-rounded {
		width: auto;
		display: inline-block;
	}
}
@media only screen and (min-width: 992px) {
	.th-container{
		width: 970px;
	} 
	.th-hide-md {
		display: block;
	}
}
@media only screen and (min-width: 1200px) {
	.th-container{
		width: 1170px;
	}

}
/********* End of Transaction History page **************/


@media only screen and (max-width: 991px) {
    .mobile-padding {
        padding-top:20px;
    }

    .not-middle {
        padding-top:0px;
    }

    #edit-profile {
        padding:20px;
    }

    #edit-profile .col-sm-6:first-child {
        padding-left:0px;
        padding-right:5px;
    }

    #edit-profile .col-sm-6:last-child {
        padding-right:0px;
        padding-left:5px;
    }
}

@media only screen and (max-width: 767px) {
	/* For mobile phones: */

	.my-default-navbar {
		padding-left:0px;
	}

    #edit-profile .col-sm-6:first-child {
        padding-left:15px;
        padding-right:15px;
    }

    #edit-profile .col-sm-6:last-child {
        padding-right:15px;
        padding-left:15px;
    }

	.navbar-nav,.navbar-inverse .navbar-nav > li > a,.glyphicon-home {
		height:100%;
        text-align: center;
	}

    #my-mobile-navbar > div > ul > li > a:focus {
        outline: none;
        text-decoration: none;
        box-shadow:0px 0px 0px rgba(0,0,0,0);
    }

    #my-mobile-navbar {
        height:42px;
    }
	.navbar-nav > li > a, .navbar-brand {
		padding-top:10px !important;
		padding-bottom:10px !important;
	}

	.glyphicon-home {
		display: none;
	}

	#my-mobile-navbar > div {
		display:block;
        overflow-x: scroll;
	}

	#mobileLogo{
		display:block;
	}

	.my-header {
		display:none;
	}

	#icons {
		display:none;
	}

	#selDay,#selYear {
		width:100%;
	}

	.navbar-header {
		background: #fff;
	}

	.custom-menu {
		float:left;
		border:none;
	}

	.mobile-padding {
		padding-top:20px;
	}

	.not-middle {
		padding-top:0px;
	}

	.custom-menu > .icon-bar {
		background-color: #333 !important;
	}

	.navbar-inverse .custom-menu:focus, .navbar-inverse .custom-menu:hover {
		background-color: #ccc !important;
	}

	#Inputsign {
		width:400px;
	}


	#selDay,#selYear {
		width:100%;
		-webkit-appearance: none;
		-moz-appearance: none;
		background: url('../img/svg/arrow_up.svg') no-repeat;
		background-position: right 10px center;
		background-size: 15px 8px;
		text-indent: 0.01px;
	}

	.bs-glyphicons{
		display:none;
	}

	#profile-picture {
		width:160px;
		margin-top: 35px;
	}

	.logoDiv {
		margin:0 auto;
	}

	.my-footer {
		height:150px;
		margin-top:80px;

	}

	#saveChangeButton {
		float:none;
		margin: 55px auto;
        display: block;
	}

}

@media only screen and (max-width: 520px) {
	#edit-profile {
		border:none;
		margin-top: 34px;
		padding: 30px 0px;
	}

	#edit-profile  .col-sm-6{
		padding:0px;
	}


	#selDay,#selYear {
		width:100%;
		-webkit-appearance: none;
		-moz-appearance: none;
		background: url('../img/svg/arrow_up.svg') no-repeat;
		background-position: 87% 50%;
		background-size: 15px 8px;
		text-indent: 0.01px;
	}

	#profile-picture {
		width:93px;
		margin-top: 17px;
	}

	.bold-text {
		font-size:18px;
	}

	.header-caption, .personDiv ,.or_text {
		display:none;
	}

	.title-input {
		font-size:14px;
	}

	.col-xs-6 {
		width: 100%;
	}

	.last-name {
		margin-top:40px;
	}

	.button-body {
		margin-top:0px;
	}


	.birthay {
		float: left;
	}

	.icon-textarea {
		display: block;
		width: 60px;
	}

	.text-description {
		width: 270px;
		margin-top:20px;
	}

	#text-telling {
		padding-top: 0px;
	}

	.my-row-header {
		width: 330px;
	}

	.mobile-padding {
		padding-top:20px;
	}

	.col-mb-1 {
		width:9%;
	}

	.col-mb-2 {
		width:17%;
	}

	.col-mb-3 {
		width:25%;
	}

	.col-mb-4 {
		width:33%;
	}

	.col-mb-5 {
		width:41%;
	}

	.col-mb-6 {
		width:50%;
	}

	.col-mb-7 {
		width:58%;
	}

	.col-mb-8 {
		width:66%;
	}

	.col-mb-9 {
		width:75%;
	}

	.col-mb-10 {
		width:82%;
	}

	.col-mb-11 {
		width:90%;
	}

	.col-mb-12 {
		width:100%;
	}

	.my-footer {
		margin-top:30px;
	}
}